<mat-toolbar color="primary" ngClass="toolbar">
  <mat-toolbar-row>
    <!-- <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm> -->
    <button class="menu-button" mat-icon-button fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>{{ title }}</span> -->
    <span>Title</span>
  </mat-toolbar-row>
  <mat-toolbar-row ngClass="subMenu">
    <span class="example-spacer"></span>

    <span *ngIf="showHomeLink">
      <a routerLink="/home" routerLinkActive="active">
        <span translate>Home</span>
        <mat-icon>home</mat-icon>
      </a>
    </span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      Share
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
