<mat-toolbar color="primary" ngClass="toolbar">
  <mat-toolbar-row>
    <!-- <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm> -->
    <button class="menu-button" mat-icon-button fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>{{ title }}</span> -->
  </mat-toolbar-row>
  <mat-toolbar-row ngClass="subMenu">
    <button mat-icon-button class="example-icon" routerLink="/home" aria-label="Example icon-button with share icon">
      Home
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      Share
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
