<app-toolbar [contextCategory]="contextCategory"></app-toolbar>
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
      </mat-card-subtitle>
      <mat-card-actions>
        <mat-card title="Categories">
          <mat-card-title title="Categorties"> Categories </mat-card-title>
          <mat-selection-list [multiple]="false" ngClass="categories">
            <mat-list-option *ngFor="let category of quoteCategories">
              <a [routerLink]="['/category/', category]">{{ category }}</a>
            </mat-list-option>
          </mat-selection-list>
        </mat-card>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
