<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button below quote"
          [angularticsCategory]="quote"
        >
          Click me to send an Analytics event
        </button>
        <p>{{ quote }}</p>

        <mat-card title="Categories">
          <mat-card-title title="Categorties"> Categories </mat-card-title>
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let category of quoteCategories">
              <a (click)="handleRoute(category)">{{ category }}</a>
            </mat-list-option>
          </mat-selection-list>
        </mat-card>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
