.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.cardTitle {
  font-size: 18x !important;
}

.categories {
  .categoryOption {
    height: 25px;
    line-height: 25px;

    a {
      text-decoration: none;
      color: #2196f3;
      font-size: 14px;
    }
  }
}
